 
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  
   .circleimg {
     /* padding: 80px 120px;*/
  }
 
 
  
	  .txtnormal{margin:0%;padding:0%;font-weight:normal;color:black}
	  .textheading{margin:0%;padding:0%;color:black}
	  .fontcolor{color:white;}
	  
	  
	  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 1%;
    left: 0;
    background-color:  #1a1a1a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}



.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: -3px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}


 
/* define a fixed width for the entire menu */
.navigation {
  width: 300px;
  background-color:#1a1a1a;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #1a1a1a;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #1a1a1a;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color:black;
	
	
}
 hr{margin-top:-2.6%;padding-top:0%;border: none;height: 3px;color: gray; /* old IE */ background-color: #d9d9d9; /* Modern Browsers */}

/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 100%;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #1a1a1a;
  color:red;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color:black;
}
.bg a:hover{background-color:#ff9933;}
/*.bg a>span:hover{background-color:#ff9933;}*/
/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
 //id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60"
