.floatingChat{
	right: 0%;
	bottom: 5%;
	position: fixed;
	-webkit-overflow-scrolling:touch;
	border: none;
}
.floatingChat iframe{
	overflow:hidden;
	height:520px;
	width:100%;
	border:none;
	padding:0px;
	margin:0px;
	vertical-align: bottom; 
	float:right;
}
.chatBalloonDiv{
	position: fixed;
    bottom: 0%;
    width: 100%;	
}
@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */
.imgClass{
	bottom:1%;
	position:absolute;
	right:1%; 
	z-index:2;
	cursor:pointer;
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
	/* order: name, direction, duration, iteration-count, timing-function */  
	-moz-animation:blink normal 2s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal 2s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal 2s infinite ease-in-out; /* IE */
	animation:blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
.imgClass:hover {
	-webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
       -o-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}